# OECD - Better Life Index Dataset
Dats source: https://stats.oecd.org/#

In [8]:
import numpy as np
import pandas as pd

**Load data**

In [9]:
df = pd.read_csv('betterlifeindex.csv')
df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.4,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.5,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.7,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.0,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN

### Address missing data

There are no missing data, but Reference Period and Flags columns are empty

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2369 entries, 0 to 2368
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION               2369 non-null   object
 1   Country                2369 non-null   object
 2   INDICATOR              2369 non-null   object
 3   Indicator              2369 non-null   object
 4   MEASURE                2369 non-null   object
 5   Measure                2369 non-null   object
 6   INEQUALITY             2369 non-null   object
 7   Inequality             2369 non-null   object
 8   Unit Code              2369 non-null   object
 9   Unit                   2369 non-null   object
 10  PowerCode Code         2369 non-null   int64
 11  PowerCode              2369 non-null   object
 12  Reference Period Code  0 non-null      float64
 13  Reference Period       0 non-null      float64
 14  Value                  2369 non-null   float64
 15  Flag Codes             0 non-null      float64
 16  Flags                  0 non-null      float64
dtypes: float64(5), int64(1), object(11)
memory usage: 314.8+ KB

In [11]:
# remove empty columns
df.dropna(axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2369 entries, 0 to 2368
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LOCATION        2369 non-null   object
 1   Country         2369 non-null   object
 2   INDICATOR       2369 non-null   object
 3   Indicator       2369 non-null   object
 4   MEASURE         2369 non-null   object
 5   Measure         2369 non-null   object
 6   INEQUALITY      2369 non-null   object
 7   Inequality      2369 non-null   object
 8   Unit Code       2369 non-null   object
 9   Unit            2369 non-null   object
 10  PowerCode Code  2369 non-null   int64
 11  PowerCode       2369 non-null   object
 12  Value           2369 non-null   float64
dtypes: float64(1), int64(1), object(11)
memory usage: 240.7+ KB

### Rename columns to be more intuitive

In [12]:
df.head(3)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Value
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,5.4
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.5
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.7

In [13]:
# dictionary that points to the renamed columns
rename_dict = {'LOCATION':'Country Code',
               'INDICATOR':'Indicator Code',
               'MEASURE':'Measure Code',
               'INEQUALITY':'Inequality Code'}

df.rename(columns=rename_dict, inplace=True)
df.head(3)

,Country Code,Country,Indicator Code,Indicator,Measure Code,Measure,Inequality Code,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Value
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,5.4
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.5
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.7

### Standardize Country names so it can be joined to other datasets

In [14]:
import country_converter as coco

In [15]:
# standardize country name; 'OECD - Total' is not a country, so will throw warnings
df['CountryName'] = [coco.convert(names=df['Country'], to='name_short')]

OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex
OECD - Total not found in regex

In [28]:
test = df[['Country','CountryName']].copy()
test['Valid'] = df['Country'] == df['CountryName']

test.head(3)

     Country CountryName  Valid
0  Australia   Australia   True
1    Austria     Austria   True
2    Belgium     Belgium   True

Check and validate the country name standardization

In [32]:
# check which country names have standardized to a different name
print(f'Country: {set(test[test.Valid == False].Country)}')
print(f'CountryName: {set(test[test.Valid == False].CountryName)}')

Country: {'Korea', 'Slovak Republic', 'OECD - Total'}
CountryName: {'Slovakia', 'South Korea', 'not found'}

**Since 'OECD - Total' is not a country name, remove the total from the data**

In [33]:
final_df = df[df.Country != 'OECD - Total']
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2305 entries, 0 to 2368
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Code     2305 non-null   object
 1   Country          2305 non-null   object
 2   Indicator Code   2305 non-null   object
 3   Indicator        2305 non-null   object
 4   Measure Code     2305 non-null   object
 5   Measure          2305 non-null   object
 6   Inequality Code  2305 non-null   object
 7   Inequality       2305 non-null   object
 8   Unit Code        2305 non-null   object
 9   Unit             2305 non-null   object
 10  PowerCode Code   2305 non-null   int64
 11  PowerCode        2305 non-null   object
 12  Value            2305 non-null   float64
 13  CountryName      2305 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 270.1+ KB

In [35]:
final_df.head()

,Country Code,Country,Indicator Code,Indicator,Measure Code,Measure,Inequality Code,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Value,CountryName
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,5.4,Australia
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.5,Austria
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.7,Belgium
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,6.0,Canada
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,3.1,Czech Republic

### Export final dataset to CSV

In [36]:
final_df.to_csv('betterlifeindex_final.csv')